#aboutme, #contact {
  background: url("images/background1.jpg");
  background-size: cover;
  height: 100%;
}

#webdesign, body{
  background: url("images/background1.jpg");
  background-repeat: repeat-y;
  background-size: contain;
margin: auto;
padding: 0px;

}

/* body {
  background: url("images/background1.jpg");
  background-repeat: repeat-y;
  width: 100%;
  height:100%;
  background-position: center center;
  margin:auto;
  padding:0;

} */



h1, h2, h3, h4, h5, p, .nav-link, .card-title, .card-text {
  color: 	#5F7F56;
}

.btn {
  background-color: #5F7F56;
  color: #f4f1e8;


}
a:hover{
  color:  #8DB18D;
}

/* #lookback {
  width:960px;
   height:569px;
} */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
#aboutmetext {
  font-size: 35pt;
}
body {
  background: url("images/backgroundmobile.png");
  background-repeat: repeat-y;
  background-size: contain;
margin: auto;
padding: 0px;
}

/* #lookback {
  width:960px;
   height:569px;
} */
  }
  
/*   
Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {
    #aboutmetext {
      font-size: 30pt;

    }
    /* #lookback {
      width:700px;
       height:415px;
    } */
    }
  
/* small devices (phones, 600px and down)  */
@media only screen and (max-width: 480px) {
  #aboutmetext {
    font-size: 16pt;

  }
  /* #lookback {
    width:480px;
     height:237px;
  } */
    }
     