#webdesign, body {
  background: url("images/background1.jpg");
  background-repeat: repeat-y;
  background-size: contain;
margin: auto;
padding: 0px;
width: 100%;
}

#contact, #aboutme {
  background: url("images/background1.jpg");
  background-size: cover;
  height: 100%;
}

#card1 {
  margin-right: 100px;
}


#lookback {
  padding: 0px;
}

h1, h2, h3, h4, h5, p, .nav-link, .card-title, .card-text {
  color: 	#5F7F56;
}

.btn {
  background-color: #5F7F56;
  color: #f4f1e8;


}
a:hover{
  color:  #8DB18D;
}



@media only screen and (max-width: 1024px) {
  #lookback, #lamonicas {
    padding-left: 100px;
    padding-right: 100px;
  }
  #contact, #aboutme{
    background: url("images/background1.jpg");
    background-repeat: repeat-y;
    background-size: contain;
  margin: auto;
  padding: 0px;
  width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
#aboutmetext {
  font-size: 35pt;
}


#lookback, #lamonicas {
  padding-left: 110px;
  padding-right: 110px;
}

#contact, #aboutme{
  background: url("images/background1.jpg");
  background-repeat: repeat-y;
  background-size: contain;
margin: auto;
padding: 0px;
width: 100%;
}
  }
  
/*   
Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {
    #aboutmetext {
      font-size: 30pt;

    }

    #lookback, #lamonicas {
      padding-left: 110px;
      padding-right: 110px;
    }
    #contact, #aboutme{
      background: url("images/background1.jpg");
      background-repeat: repeat-y;
      background-size: contain;
    margin: auto;
    padding: 0px;
    width: 100%;
    }
    }
  
/* small devices (phones, 600px and down)  */
@media only screen and (max-width: 480px) {
  #aboutmetext {
    font-size: 16pt;

  }

  #aboutmeparagraph {
    font-size: 10pt;
  }
  #lookback, #lamonicas {
    padding-left: 110px;
    padding-right: 110px;
  }
  #webdesign, body, #contact, #aboutme {
    background: url("images/backgroundmobile.png");
    background-repeat: repeat-y;
    background-size: contain;
  margin: auto;
  padding: 0px;
  width: 100%;
  }

    }
     